{
  "space": true,
  "rules": {
    "import/no-extraneous-dependencies": ["error", {
      "devDependencies": true, 
      "optionalDependencies": true, 
      "peerDependencies": true
    }],
    "indent": ["error",2]
  }
}